/* 구글 웹 폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
    
}
button, input {
    outline: none;
    border: none;
    color: #000;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}




/* section kids style */

section.kids {
    background: #000;
    width: 1220px;
    height: 530px;
    color: #fff;
    border-top: 3px solid #fff;
    padding: 50px 0;    
    
    content: '' ;
    display: block; 
    clear: both;  
}

section.kids .kids-box {
    /* background: greenyellow; */
    width: 60%;
    margin: 0 auto;
    position: relative;
}
section.kids .kids-box .img-box-1 {
    float: left;
    width: 40%;
    height: 300px;
    /* background: url('../img/netlf_kids.png') no-repeat; */
    background: url('https://occ-0-4342-993.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABTyynLTvOBU46RmBnCIPyjAryrXCZKImpoXdp7Mz54jVGKnBQ1X84bzR-3vtD-RA4uu2b1FjrDgfxE6KElG14WAXW19X.png?r=acf') no-repeat;
    background-size: contain;
    margin-top: 10%;
}
section.kids .kids-box .title {
    width: 60%;
    text-align: justify;

    float: right;
    /* background: tomato; */
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.kids .kids-box .title h2 {
    font-size: 45px;    
    margin-bottom: 50px;
    /* background: red; */
}
section.kids .kids-box .title p {
    font-size: 20px;
    color: #555;
    /* background: blue; */
}
/* end-section kids style */



/* section faq style */

section.faq {
    background: #000;
    width: 790px;
    height: 887px;
    color: #fff;
    border-top: 3px solid #fff;
    padding: 50px 0;
    content: '' ;
    display: block; 
    clear: both;  
}

section.faq .faq-box {
    /* background: orange; */
    width: 50%;
    margin: 0 auto;
    position: relative;
    }

section.faq .faq-box .title {
    width: 80%;
    /* background: tomato; */
    margin: 0 auto;
}

section.faq .faq-box .title h2 {
    font-size: 45px;    
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}
section.faq .faq-box ul.list {
    width: 90%;
    border: 1px solid #000;
    /* background: red; */
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #555;
    margin: 0 auto;
}

section.faq .faq-box ul.list li {
    width: 668px;
    margin-bottom: 5px;
    background: #444;
    padding: 10px 15px;
    color: #fff;
    font-size: 26px;
    margin: 0 auto;
}

section.faq .faq-box ul.list li i {
    float: right;
}
section.faq form {
    height: 70px;
    width: 708px;
    margin: 0 auto;
}
section.faq p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 13px;
}
section.faq form input {
    /* background: orange; */
    color: #333;
    padding: 10px 10px 10px;
    width: 500px;
    height: 70px;
    font-size: 16px;
    box-sizing: border-box;
    float: left;
}

section.faq form button {
    color: #fff;
    background: red;
    font-size: 30px;
    width: 208px;
    height: 70px;
    padding: 0 30px;
    border: none;
    box-sizing: border-box;
    float: right;
}
/* end-section faq style */



/* section foooer style */

section.footer-border {
    background: #000;
    height: 532px;
    color: #fff;
    border-top: 1px solid #000;
}

/* section.faq {
    background: #000;
    height: 532px;
    color: #fff;
    border-top: 3px solid #fff;
    padding: 50px 0;    
    
    content: '' ;
    display: block; 
    clear: both;  
} */


/* end-section footer style */

